

/* Universal Design*/
* {
    background-color: darkslategrey;
    user-select: none;
}

/* Scroll effect */
html {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 50px;
}

main {
    padding-top: 60px;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}


p {
    font-size: 35px;
    color: #95B0B0;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;

}


/* Bird-count-striker*/
.counter {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1001;
}

#counter-bird-strike {
    font-size: 50px;
    margin: 0 0;
    margin-left: 2rem;
}

/* Introduction animation */
.introduction {
    display: block;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    padding-top: 200px;
    width: 100%;
    bottom: 45%;
}

#flip {
    height: 100px;
    overflow: hidden;
}
#flip > div > div {
    color:white;
    padding:8px 20px;
    height:90px;
    margin-bottom:90px;
    display:inline-block;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    border-radius: 10px;
}

#flip div:first-child {
    animation: show 8s infinite;
}

#flip div div {
    background:#95B0B0;
}
#flip div:first-child div {
    background:#95B0B0;
}
#flip div:last-child div {
    background:#95B0B0;
}

@keyframes show {
    0% { margin-top: -540px; }
    5% { margin-top: -360px; }
    33% { margin-top: -360px; }
    38% { margin-top: -180px; }
    66% { margin-top: -180px; }
    71% { margin-top: 0; }
    99.99% { margin-top: 0; }
    100% { margin-top: -540px; }
}

/* Animal picture*/
img {
    height: 400px;
    border-radius: 10% /50%;
}

.picture {
    display: flex;
    justify-content: right;
    margin: 10px;
}

.picture h1 {
    margin-top: 20px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
#now-text {
    font-size: 40px;
}



/*Bird striker per year, chart 1*/
.yearChart {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    padding: 100px;
    height: 100vh;

}

#chart1 {
    max-width: 850px;
    margin: 30px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-around;
}

/* Bird strike per month in total from 1990-2022 */
.monthChart {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    padding: 10px;
    height: 100vh;
}

#chart2 {
    width: 100%;
    max-width: 850px;
    margin: 20px auto;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.speciesChart {
    display: flex;
    flex-direction: row-reverse;
    margin: 70px;
    padding: 10px;
}

#chart3 {
    max-width: 850px;
    margin: 20px auto;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}




